<div class="dialog">
    <mat-form-field appearance = "fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" [formControl] = "name" [value] = "name">
    </mat-form-field>
    <mat-form-field appearance = "fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" [formControl] = "email" [value] = "email">
    </mat-form-field >
    <mat-form-field appearance = "fill">
        <mat-label>Job Title</mat-label>
        <input matInput type="text" placeholder="Job Title" [formControl] = "jobTitle" [value] = "jobTitle">
    </mat-form-field>
    <mat-form-field appearance = "fill">
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Phone" [formControl] = "phone" [value] = "phone">
    </mat-form-field>
    <mat-form-field appearance = "fill">
        <mat-label>Image URL</mat-label>
        <input matInput type="text" placeholder="Image URL" [formControl] = "imageUrl" [value] = "imageUrl">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" id = "button" (click) = "onSubmit()">Submit</button>
</div>

